.container {
  margin-top: 40px;
  max-width: 900px;
}

.info {
  height: 120px;
  margin-bottom: 30px;
}

.info img {
    border-radius: 50%;
    width: 100px;
    float: left;
}

.links a {
    margin-bottom: 5px;
    margin: 3px 0px;
}

.info-internal {
    margin-left: 120px;
}

.projects ul {
  margin: 0;
}

.project-box {
background-color: white;
border: 1px solid #c3c3c3;
margin: 16px 14px;
margin-bottom: 26px;
position: relative;
background: white;
border: 1px solid #dcdcdc;
padding: 8px;
border-bottom: 2px solid #4FA9E5;
overflow: hidden;
}

.project .title {
margin: 0px;
}

.project {
   padding-left: 2px;
   padding-right: 2px;
}

.project img {
    height: 150px;
}

.img {
    overflow: hidden;
    position: absolute;
    width: 130px;
    float: left;
    margin-left: -8px;
    margin-top: -8px;
}

.techs {
  margin-bottom: -30px;
  position: absolute; 
  bottom: 13px; 
  right: 0;
  z-index: -10;
}

.techs span {
   background: #FFFFFF;
   padding: 3px;
   border-radius: 6px;
   color: rgb(115, 115, 115);
   margin: 0px 1px;
   border: 1px solid rgb(199, 199, 199);
}

.project .infos {
  margin-left: 133px;
}

.project .why{
  color: rgb(110, 110, 110);
  font-size: 1.2rem;
}

.project.small .project-box {
  border: none;
}

.project.small .infos {
  margin:0;
}

.project.small .what, .project.small .title {
  display: inline;
}

.when {
  float: right;
  color: #999;
}

.project .when {
  display: none;
}

.project:hover .when {
  display: inherit;
}

.job .project-box {
    border-bottom-color: rgb(255, 177, 89);
}

.job .title {
    color: rgb(255, 155, 43);
}

.job .project-box {
    border-bottom-color: rgb(255, 177, 89);
}

.job .title {
    color: rgb(255, 155, 43);
}