<!DOCTYPE html>
<html ng-app="LOLApp" ng-controller="LOLController"><head>
<meta charset="UTF-8"/>
<title>dam.io</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="./index/bootstrap.css" rel="stylesheet" type="text/css" media="screen">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<link href="./index/style.css" rel="stylesheet" type="text/css" media="screen">
<script src="index/angular.js"></script>
<style type="text/css"></style></head>
<body>
  <div class="container">
    <h3>{{ posts[0].data.children[0].data.title }}</h3>
    <ul>
      <li ng-repeat="response in posts[1].data.children" ng-include="'tree_item_renderer.html'"></li>
    <ul>
  </div>

<script type="text/ng-template"  id="tree_item_renderer.html">
    <p>{{response.data.body}}</p>
    <strong>{{ response.data.replies.data.children.length }} replies</strong>
    <ul>
        <li ng-repeat="response in response.data.replies.data.children" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</script>

<script>
 var app = angular.module('LOLApp', []);
 app.controller('LOLController', function ($scope, $http) {
  $scope.posts = ['loading'];
  this.update = function() {
    var location = document.location.search.substring(1);

    $http.get(location+'.json').
      success(function(data, status, headers, config) {
        DATA = data
        $scope.posts = data;
      });
  }
  setTimeout(this.update, 0);
  return this;
});
</script>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-30471322-4', 'dam.io');
  ga('send', 'pageview');
</script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'
>
</body></html>
