<!doctype html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <title>Tantra</title>
        <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css"
        type="text/css">
        <script src="scrape/data/uvs.js"></script>
        <script src="static/angular.js"></script>
        <script src="static/uibootstrap.js"></script>
        <script src="static/agenda.js"></script>
        <script src="static/color.js"></script>
        <link rel="stylesheet" href="static/style.css" type="text/css">
    </head>
    
    <body ng-app="tantra">
        <div ng-controller="UVController as UVCtrl">
            <div class='filters well'>
                <strong>Filtres:</strong> 
                <input type="search" ng-model="filter.q" />
                <label class='CS'>CS <input type="checkbox" ng-model="filter.CS" ng-init='filter.CS = true'></label>
                <label class='TM'>TM <input type="checkbox" ng-model="filter.TM" ng-init='filter.TM = true'></label>
                <label class='TSH'>TSH <input type="checkbox" ng-model="filter.TSH" ng-init='filter.TSH = true'></label>
                <label class='OTHER'>Autres <input type="checkbox" ng-model="filter.OTHER" ng-init='filter.OTHER = true'></label>
                <label class='INCOMPATIBLES'>Incompatibles 
                        <input type="checkbox" ng-model="filter.INCOMPAT" ng-init='filter.INCOMPAT = true'></label>
                <select ng-model="filter.categorie">
                    <option value=''>Toute categorie</option>
                    <option ng-repeat='cat in categories'>{{cat}}</option>
                </select>
            </div>
            <div class='sidebar'>
                <h4>Choix
                <span class='compat_choices' ng-show='choices.length > 0'>
                    <span class='compat' ng-show="choices_compatibles">compatibles</span>
                    <span class='incompat' ng-hide="choices_compatibles">incompatibles</span>
                </span>
                </h4>
                <table class='table uv_choices table-striped table-bordered'>
                    <tr ng-repeat='column in choices track by $index'>
                        <td 
                            ng-click='UVCtrl.set_uv(uv)'
                            ng-class="{restricted: uv.restricted}"
                            ng-repeat='uv in column track by $index'>
                            <strong>{{ uv.name }}</strong> <small>{{ uv.type }}-{{ uv.credits}}</small>
                            <a class='btn btn-danger btn-sm pull-right' style='margin-left:10px'
                                ng-click='UVCtrl.remove_choice($parent.$index, $index)'>
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                            <a class='btn btn-warning btn-sm pull-right'
                                ng-click='UVCtrl.update_choice($parent.$index, $index, current_uv)'>
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                        <td
                            ng-show='column.length < 3'
                            >
                            <a class='btn btn-primary btn-sm' ng-click='UVCtrl.add_choice(current_uv, $index)'><span class="glyphicon glyphicon-plus"></span> {{ current_uv.name }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class='btn btn-primary btn-sm' ng-click='UVCtrl.add_line_and_choice(current_uv)'><span class="glyphicon glyphicon-plus"></span> {{current_uv.name}}</a>
                        </td>
                    </tr>
                </table>
                <br/>
                <button ng-show='choices.length > 0' ng-click='show_full_calendar = !show_full_calendar' 
                    class='btn btn-primary btn-sm'
                    ><span ng-hide='show_full_calendar'>Montrer</span
                    ><span ng-show='show_full_calendar'>Cacher</span> tout les horaires</button>
                <table ng-show='choices.length > 0 && show_full_calendar' class='schedule-table table-bordered table table-stripped'>
                    <thead>
                        <tr>
                            <th style='width: 60px;'></th>
                            <th style='width: 40px;'</th>
                            <th ng-repeat="h in [8, '', '', '', 9, '', '', '', 10, '', '', '', 11, '', '', '', 12, '', '', '', 13, '', '', '', 14, '', '', '', 15, '', '', '', 16, '', '', '', 17, '', '', '', 18, '', '', '', 19, '', '', ''] track by $index" colspan="1">
                                {{ h }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='time in choices | merge_times | add_spans'>
                            <td>{{ time.day }}</td>
                            <td>{{ time.uv }}</td>
                            <td ng-show='time.spans[0] > 0' class='empty' colspan='{{time.spans[0]}}'></td>
                            <td class='filled type_{{time.type}}' colspan='{{time.spans[1]}}' title='{{time.formatted}}'></td>
                            <td ng-show='time.spans[2] > 0' class='empty' colspan='{{time.spans[2]}}'></td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <h3>{{ current_uv.title }}</h3>
                <h4>{{ current_uv.name }}</h4>
                <strong ng-show="current_uv.restricted">Effectif limit&eacute;</strong></br>
                {{ current_uv.type }}</br>Credits: {{ current_uv.credits}}</br>
                Note UVWeb: <a ng-href="https://assos.utc.fr/uvweb/uv/{{current_uv.name}}"
                    ><strong>{{ current_uv.uvweb_rating }}</strong>/10</a></br>
                Heures: {{current_uv.hours}} + {{current_uv.hours_tp}} TP + {{current_uv.hours_td}} TD</br>
                Resp: {{current_uv.resp}}</br>
                <strong ng-if='current_uv.have_final'>Avec</strong>
                <strong ng-if='!current_uv.have_final'>Sans</strong> final
                <table class='schedule-table schedule-one table-bordered table table-stripped'>
                    <thead>
                        <tr>
                            <th style='width: 60px;'></th>
                            <th ng-repeat="h in [8, '', '', '', 9, '', '', '', 10, '', '', '', 11, '', '', '', 12, '', '', '', 13, '', '', '', 14, '', '', '', 15, '', '', '', 16, '', '', '', 17, '', '', '', 18, '', '', '', 19, '', '', ''] track by $index" colspan="1">
                                {{ h }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='time in current_uv.times | add_spans |  orderBy:current_uv.day_index'>
                            <td>{{ time.day }}</td>
                            <td ng-show='time.spans[0] > 0' class='empty' colspan='{{time.spans[0]}}'></td>
                            <td class='filled type_{{time.type}}' colspan='{{time.spans[1]}}' title='{{time.formatted}}'></td>
                            <td ng-show='time.spans[2] > 0' class='empty' colspan='{{time.spans[2]}}'></td>
                        </tr>
                    </tbody>
                </table>
                <span class="badge" style='margin-right:2px' ng-repeat='cat in current_uv.categories'>{{cat}}</span>
            </div>
            <div class='uv_list'>
                <div class='uv {{uv.type}}' ng-class="{restricted: uv.restricted, disabled: !uv.__compatible_with_choices}" ng-click="UVCtrl.set_uv(uv)"
                ng-show="(!filter.categorie || uv.categories.indexOf(filter.categorie) !== -1) &&
                (uv.__compatible_with_choices || filter.INCOMPAT) && (
                (filter.CS && uv.type == 'CS') 
                || (filter.TSH && uv.type == 'TSH')
                || (filter.TM && uv.type == 'TM')
                || (filter.OTHER && uv.type === undefined))" ng-repeat="uv in uvs | filter:filter.q">{{ uv.name }}</div>
            </div>
        </div>
        <script src='static/app.js'></script>
    </body>

</html>
