
.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

#concerne {
  fill: green;
}

.link.concerne {
  stroke: green;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}


textarea {
 width:100%;
 height:500px;
}
