body{
	font-size: 10pt;
	font-family: Georgia, serif;
	width: auto;
	height: auto;
}
*{
	position: static;
	float: none;
	width: auto;
	height: auto;
}
div{
	position: static;
	float: none;
	width: auto;
	height: auto;
	background-image: none;
}
a,
a img{
	text-decoration: none;
	border: none;
}
@page { size 21cm 29.7cm; margin: 2cm }
@page :first {
	margin-right:2cm;
	margin-left: 2cm;
}
h1, h2, h3, h4, h5{
	page-break-after:avoid;
}
p{
	font-size: 1em
}
sup{
	display: inline !important;
}
/******************/
/*	STRUCT		*/
/******************/
#tplIco{
	display:none;
}
#titleRoot{
	font-size: 16pt;
	color: #686868;
}
#annotBtn{
	display: none;
}
#quitBtn{
	display: none;
}
#tplCo{
	overflow: visible;
}
#tplLft,
#tplRgt,
#tplBtm,
#tplMnuOpenedCo,
#linkSp,
#tplPrint{
	display: none;
}
div.subWindow_co{
	border: none;
	height: auto;
	width: auto;
}
.annotFieldFrm{
	background-image: none;
}

/******************/
/*		MENU		*/
/******************/
.sw_menu_navList a,
.sw_menu_navList a:visited,
.sw_menu_navList a:active,
.sw_tools_navList a,
.sw_tools_navList a:visited,
.sw_tools_navList a:active,
.sw_child_navList a,
.sw_child_navList a:visited,
.sw_child_navList a:active{
	color: inherit;
	text-decoration: none;
}
ul.sw_menu_navList{
	list-style-image: none;
	list-style-type: upper-alpha;
	background: none;
	font-size: 11pt;
}
ul.sw_menu_navList ul{
	list-style-image: none;
	list-style-type:decimal;
	font-size: 10pt;
}
ul.sw_menu_navList ul ul{
	list-style-image: none;
	list-style-type:lower-alpha;
	font-size: 9pt;
	font-style: italic;
}
ul.sw_menu_navList .mnu_sel_yes span{
	color : #4463A1;
	font-weight: bold;
}
ul.sw_child_navList{
	list-style-image: none;
	list-style-type: square;
}
.sw_child_navList{
	margin: 0cm 3cm;
}

/******************/
/*	TEMPLATE	*/
/******************/
#tplTop,
#tplMnu,
.mnuCls{
	display: none;
}
ol.footnotes{
	display:block !important;
}
ol.footnotes li{
	display:list-item !important;
}

/******************/
/*		TEXT		*/
/******************/

ul.op_txt_il,
ul.op_sTxt_il,
ul.op_clozeTxt_il,
ul.op_qTxt_il{
	list-style-type: disc;
	list-style-image: none;
}
ul.op_txt_il ul,
ul.op_sTxt_il ul,
ul.op_clozeTxt_il ul,
ul.op_qTxt_il ul{
	list-style-type: square;
	list-style-image: none;
}
ul.op_txt_il ul ul,
ul.op_sTxt_il ul ul,
ul.op_clozeTxt_il ul ul,
ul.op_qTxt_il ul ul{
	list-style-type: circle;
	list-style-image: none;
}
.op_txt_p span,
.op_labelTxt_p span,
.op_clozeTxt_p span,
.op_qTxt_ul_p span,
.op_txt_p a,
.op_labelTxt_p a,
.op_clozeTxt_p a,
.op_qTxt_ul_p a{
	padding-right: 0px;
	background-image: none;
}
a.op_txt_ul:after,
a.op_sTxt_ul:after,
a.op_labelTxt_ul:after,
a.op_clozeTxt_ul:after,
a.op_qTxt_ul:after,
a.sfile_lnk:after{
	content: " (" attr(href) ") ";
	background-image: none;
}
a.op_txt_ul_docLnk:after {
	content: " (" attr(title) ") ";
}
a.op_txt_ul,
a.op_sTxt_ul,
a.op_labelTxt_ul,
a.op_clozeTxt_ul,
a.op_qTxt_ul,
a.sfile_lnk{
	background-image: none;
	text-decoration: underline;
}
.op_txt_ul,
.op_sTxt_ul,
.op_labelTxt_ul,
.op_clozeTxt_ul,
.op_qTxt_ul,
.sfile_lnk,
.op_eSite_link_S,
.op_eSite_link_L {
	list-style-image: url("../img/txt/refLink.gif") no-repeat scroll right center transparent;
	list-style-position: inside;
	padding-right: 0;
	background: none;
}

/******************/
/*	GENERAL	 */
/******************/
.mainContent_ti{
	font-size: 20pt;
}
.practUcDesc_ti{
	margin: 0.8cm 0cm;
}
.zoom,
.ttInfo_a {
	display: none;
}

/******************/
/*	BINARIES	*/
/******************/
#linkSp img:after,
.cc-button img:after{
	content: " (" attr(alt) ") ";
}
sfile_avi_resVideo,
sfile_mov_resVideo,
sfile_flv_resVideo,
sfile_mpeg_resVideo,
object.resFlash,
object.embedObj{
	display: block;
	width: 300px;
	height: 100px;
	border: 2px solid gray;
	background-color: silver;
	font-weight: bold;
	color: #CA0000;
}

/******************/
/*	CONTENT	 */
/******************/
.example_ti,
.def_ti,
.remark_ti,
.advice_ti,
.warning_ti,
.complement_ti,
.method_ti,
.remind_ti,
.syntax_ti,
.basic_ti,
.legal_ti,
.simulation_ti,
.info_ti{
	font-size: 1.2em
}
.example_ti .pbTi,
.basic_ti .pbTi,
.def_ti .pbTi,
.remark_ti .pbTi,
.advice_ti .pbTi,
.warning_ti .pbTi,
.complement_ti .pbTi,
.method_ti .pbTi,
.remind_ti .pbTi,
.syntax_ti .pbTi,
.legal_ti .pbTi,
.simulation_ti .pbTi{
	list-style-position: inside;
	position: static;
	background-image: none;
	padding-left: 0;
	padding-top: 0
}
.example_ti .pbTi{
	list-style-image: url("../img/blocks/example.png");
}
.basic_ti .pbTi{
	list-style-image: url("../img/blocks/basic.png");
}
.def_ti .pbTi{
	list-style-image: url("../img/blocks/def.png");
}
.remark_ti .pbTi{
	list-style-image: url("../img/blocks/remark.png");
}
.advice_ti .pbTi{
	list-style-image: url("../img/blocks/advice.png");
}
.warning_ti .pbTi{
	list-style-image: url("../img/blocks/warning.png");
}
.complement_ti .pbTi{
	list-style-image: url("../img/blocks/complement.png");
}
.method_ti .pbTi{
	list-style-image: url("../img/blocks/method.png");
}
.remind_ti .pbTi{
	list-style-image: url("../img/blocks/remind.png");
}
.syntax_ti .pbTi{
	list-style-image: url("../img/blocks/syntax.png");
}
.legal_ti .pbTi{
	list-style-image: url("../img/blocks/legal.png");
}
.simulation_ti .pbTi{
	list-style-image: url("../img/blocks/simul.png");
}
.expUcDiv_ti {
	padding-left: 0;
	border-bottom: 1px solid #424242
}
.expUcDiv_co {
	padding-left: 0;
}
.expUcDiv {
	margin-top: 1.5em
}
.collapse_co{
	display: block !important;
}

/******************/
/*		REF		*/
/******************/
#tplFooter{
	display:none;
}

/******************/
/*		EVAL		*/
/******************/
#evalPlayerPrint{
	display:none;
}
.evalCounterSeen, 
.evalCounterTotal,
.evalCounterOver{
	display: inline;
	height: auto;
	width: auto;
	position:relative;
}
.nextEval,
.prevEval{
	display: none;
}
.mtTable,
.olTableSol,
#evalPlayerCo table{
	width: 15cm;
}
.divQuiz > div:first-child{
	display: block !important;
}
.bkSolResOut{
	display: none;
}
.choiceMap_epy{
	display: none !important;
}
.question {
	list-style-image: url("../img/quiz/question.png");
	list-style-position: inside;
	display: list-item;
	background: none;
	padding-left: 0
}
.practUcQuest_ti{
	list-style-image: url("../img/quiz/question.png");
	list-style-position: inside;
	display: list-item;
}
.practUcQuest_co,
.op_practUcQ_hint_co,
.op_practUcQ_sol_co {
	padding-left: 10px !important;
	background: none;
}
.op_practUcQ_hint_open,
.op_practUcQ_hint_closed{
	list-style-image: url("../img/quiz/practHint.png");
	list-style-position: inside;
	display: list-item !important;
}
.op_practUcQ_sol_open,
.op_practUcQ_sol_closed{
	list-style-image: url("../img/quiz/practSol2.png");
	list-style-position: inside;
	display: list-item !important;
}
.op_practUcQ_hint_ti.collapse_ti, .op_practUcQ_sol_ti.collapse_ti {
	padding-left: 0;
}
#evalPlayerBar{
	display: none;
}

div.scCodeActive .scCodeCtrl,
div.scCodeActive .scCodeCopyMsg{
	display:none;
}
div.scCodeActive .code pre{
	white-space: pre-wrap !important;
}
div.scCodeActive .scCodeCode,
div.scCodeActive .scCodeRaw{
	max-height:inherit;
	overflow: visible;
}
div.scCodeActive .CodeMirror-linenumber{
	border-right: 2pt solid silver;
	left: -50px;
}
div.scCodeActive .CodeMirror-static {
	margin-left: 50px;
}