body,html,.everything,.page,.viewport {
	font-family: 'Raleway', sans-serif;
	color:white;
	font-weight:300;
}

a {
	text-decoration: none;
	color:inherit;
}

h1,h2,h3 {
	font-weight: lighter;
	background-size: 70px;
}

.everything {
	background-color: rgb(32, 32, 32);
}

.viewport {
	background: radial-gradient(circle at top, #626767 26%,#1E1F23 100%);
	background-attachment: fixed;
}

#home {
	padding-top: 4%;
	padding-bottom: 40px;
}

.section {
	max-width: 519px;
	margin: auto;
}

h1 {
	margin:0;
}

.header-magic-arrow {
	box-shadow: 0px 0px 10px rgb(77, 77, 77);
	margin: auto;
	height: 20px;
	background-color: rgb(80, 80, 80);
	width: 20px;
}

header {
	background-color: rgb(70, 70, 70);
	color: white;
	text-align: center;
	transition: all 1s;
	padding: 10px;
	position: fixed;
	width: 100%;
	top: 0px;
}

header.hide{
	background-color: rgb(27, 27, 27);
	top: 140px;
}

.right-aligned {
	text-align: right;
}

.title {
	margin:0;
	font-weight:200;
}

.name {
	font-weight: 400;
}

.contactme {
	padding:8px 20px;
	float:right;
	display:inline-block;
	background-color:#505050;
	transition:all 1s;
}

.contactme:hover {
	background-color:#A8A8A8;
	color:#000;

}

.sociallinks {
	margin-top: 10px;
}

.sociallinks img{
	width: 19px;
}

.photo {
	float:left;
	width:85px;
	margin-right:10px;
	border:3px solid #535353;
}

.summary {
	list-style: none;
	padding: 0;
	font-weight: 400;
	text-align: left;
}

hr.little {
	width:20px;
	margin:14px 0px;
}

.map-button {
	position:absolute;
	background-color:rgb(54, 54, 54);
	padding:5px;
	font-size:13px;
	transition:all 0.6s;
}

.map-button:hover {
	cursor: pointer;
	background-color: rgb(112, 112, 112);
}

.for-exp1 {
	margin-top:30px;
	margin-left:270px;
}

.for-exp2 {
	margin-top:60px;
	margin-left:260px;
}

.for-exp3 {
	margin-top:30px;
	margin-left:225px;
}

.for-exp4 {
	margin-top:120px;
	margin-left:265px;
}

.for-exp5 {
	margin-top:120px;
	margin-left:105px;
}

.for-exp6 {
	margin-top:90px;
	margin-left:225px;
}

.for-exp7 {
	margin-top:90px;
	margin-left:65px;
}

.for-exp8 {
	margin-top:29px;
	margin-left:103px;
}

.for-exp9 {
	margin-top:59px;
	margin-left:55px;
}

.map {
	width: 100%;
}

.experiences h1 {
	margin-bottom: 20px;
	margin-top: 23px;
}

.experience {
	display: none;
}

.porto-black {
	background-color: black;
	height:	300px;
	margin-top: 20px;
	margin-bottom: 20px;
	display:none;
}

.porto {
	padding-top: 20px;
}