.uv {
float: left;
padding: 5px;
width: 80px;
text-align: center;
color: white;
box-sizing: border-box;
transition: background-color 0.1s;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


.filters {
border-radius: 0;
border-top: 0;
border-right: 0;
border-left: 0;
}

.filters label{
  padding: 2px 10px;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}
.compat_choices span {
    background-color: #5cb85c;
    color: rgb(250, 250, 250);
    padding: 2px 10px;
    margin-left:6px;
    border-radius:4px;
    font-size:15px
}

.compat_choices .incompat{
    background-color:#d9534f;
}

.uv, label.OTHER{
  background: dimgray;
}

.uv_list, .filters{
   text-align:center;
   padding-left:20px;
   padding-top: 5px;
   padding-bottom: 0;
   margin-bottom: 0;
}
.uv_list{
margin-right: 450px;
}
.sidebar {
float: right;
margin: 20px;
width: 410px;
margin-top:0px;
}

.uv.restricted {
  font-weight:bold;
}

.uv.TSH, .filters label.TSH {
  background-color: #05C2BA;
}

.uv.TSH.even{
  background-color: #2FC7C1;
}

.uv.CS, .filters label.CS {
  background-color: #46CC6F;
}

.uv.CS.even{
  background-color:#20C352;
}

.uv.TM, .filters label.TM {
  background-color: #4C78BD;
}

.uv.TM.even{
  background-color:#2B5FB1;
}

.uv.disabled, .filters label.INCOMPATIBLES {
    background-color: rgb(207, 207, 207) !important;
}

.uv.disabled {
    text-decoration: line-through;
    color: dimgray;
    font-weight:normal;
}



.uv:hover{
   padding:5px;
   border:none;
   cursor:pointer;
   background-color:white !important;
   color:black;
   font-weight:bold;
}

.schedule-tables .filled{
    background-color: rgb(221, 221, 221);
}

td.filled.type_T {
    background-color: rgb(197, 213, 255) !important;
}

td.filled.type_D {
    background-color: rgb(76, 191, 255) !important;
}

td.filled.type_C {
    background-color: rgb(30, 121, 206) !important;
}



.schedule-table{
    table-layout:fixed;
}

.schedule-table>thead>tr>th, .schedule-table>tbody>tr>th, .schedule-table>tfoot>tr>th, .schedule-table>thead>tr>td, .schedule-table>tbody>tr>td, .schedule-table>tfoot>tr>td {
    padding: 0px;
    font-size:11px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
@media (max-width: 800px) {
    .uv_list{
    margin-right: 100px;
    }
    .sidebar {
    width: 150px;
    }
}

.schedule-one .uv_mini{
    display:none;
}

.uv_choices .btn-danger, .uv_choices .btn-warning{
    padding: 2px 3px;
    font-size:6px;
}
.uv_choices {
    margin-bottom: 0px;
}

td.restricted {
    background-color: rgb(255, 202, 202) !important;
}

