html {
    position: relative;
    min-height: 100%;
}
body {
    margin-top: 64px;
}

#internship-info.affix {
    top: 80px;
    width: 30px;
}

#internship-info {
    overflow-y: auto;
    max-height: 85%;
    width: 308px;
}
