
.link {
  fill: none;
  stroke: #666;
  /* stroke-width: 4px; */
}

#concerne {
  fill: green;
}

.link.concerne {
  /* stroke: green; */
}

circle {
  fill: #DBDBDB;
  /* stroke: #333; */
  /* stroke-width: 4px; */
}

text {
  /* font: 20px sans-serif; */
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

